:host {
    width: 100%;
  }

  .header-container {
    background-color: white;
    border-radius:20px;
    border-width: 2px;
    border-style: solid;
    border-color:white;
    display:flex;
    flex-wrap: nowrap;
    align-content: center;
    align-items: center;
    padding: 10px;
  }
  
  .container-big {
    margin-top: 5px;
    margin-right: 5px;
    padding-bottom: 20px;
    height: 100%;
  }
  .container {
    padding-left: 10px;
    align-content: space-between; 
    justify-content: space-between;
  }

  #monthInput {
    font-family: 'Open Sans', sans-serif;
  }

  
  .child {
    margin-left: auto;
    margin-right: 10px;
  }
  #heading {
    padding-top:5px;
  }
  
  #goToOverview {
    background-color: rgb(152, 154, 156);
  }
  
  #goToOverview:hover {
    filter: brightness(120%);
  }
  
  #line {
    display:flex;
  
  }
  
  span {
    flex-basis: 0;
    flex-grow: 1;
  }
  
  #previous, #next {
    width: 0px;
    height: 0px;
    display: inline-block;
    border: 6px solid transparent;
    border-right: 6px solid black; 
    margin: 4px;
    margin-top: 7px;
    cursor: pointer;
  }

#next {
    border: 6px solid transparent;
    border-left-color: black;
}

#choose {margin: 0;}
  
